<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="run2.py" />
            </files>
        </defaultDocument>
        <httpPlatform processPath="C:\Python3\python.exe" />
    </system.webServer>
</configuration>